<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header-title"></head>
<body class="bg-blue color-gold">
<header>
<div th:replace="fragments::header"></div>
</header>
<div id="page-wrapper">
    <div th:replace="fragments::sidenav"></div>
    <div class="content pb-5">
        <h2 class="content-header pt-2 mx-3"><u>Setting - User</u></h2>
        <div class="brand-form m-3 w-50">
            <form action="#" th:action="@{/changepassword}" method="post"  >
                <div class="text-success" th:if="${message != null }">[[${message}]]</div>
                <div class="text-danger" th:if="${error != null}">[[${error}]]</div>
                 <div class="form-group">
                    <label for="currentpassword">Current Password</label>
                    <input type="password" class="form-control" id="currentpassword" name="currentpassword"/>
                </div>
                  
                 <div class="form-group">
                 	<label for="newpassword">New Password</label>
                 	<input type="password" class="form-control" id="newpassword" name="newpassword"/>
                 </div>
                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments::scripts"></div>
</body>
</html>