<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Forgot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body class="bg-gold">
<div class="w-25 mx-auto login-form p-3">
        <h1 class="color-blue mb-5" >Forgot Password</h1>
        <form th:action="@{/resetpassword}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
            <div class="form-group">
                <label for="password" class="color-blue">New Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</body>
</html>